.row
  .large-6.large-columns
  .large-6.large-columns
    .bg
      = form_tag '/login', :remote => true do
        = label_tag :email
        = text_field_tag :email, nil, :autofocus => true
        = label_tag :password
        = password_field_tag :password
        = submit_tag 'Start', :class => 'button tiny radius success'
        = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')

