.row
  .large-12.columns
    .bg
      %h2.white New Voyage
      = render(:partial=>'shared/errors', :locals=>{:object=>@voyage})
      = form_for @voyage, :remote=>true do |f|
        .row
          .large-4.columns
            = f.text_field  :code, :placeholder=>'Code', :autofocus=>'true'
          .large-4.columns
            = f.text_field  :airfield_depart, :placeholder=>'Airfield Departure'
          .large-4.columns
            = f.text_field  :airfield_arrive, :placeholder=>'Airfield Arrival'
        .row
          .large-4.columns
            = f.text_field  :voyage_date, :placeholder=>'Voyage Date'
            = f.label         :zeppelins
          .large-8.columns
            = f.select        :zeppelin_id, options_for_select(Zeppelin.all.map {|zep| ["#{zep.name} -- #{zep.style} -- #{zep.total_seats} seats available", zep.id] })
        .row
          .large-6.columns
            = link_to('NAH', '#', :'data-clear-form' => true, :class => 'button round alert')
            = f.submit 'AWAY WE GO', :class => 'button round'
          .large-6.columns


