.form_voyage
  %h2 New Voyage
  = form_for @voyage, :remote=>true do |f|
    = f.text_field  :code, :placeholder=>'Code', :autofocus=>'true'
    = f.text_field  :airfield_depart, :placeholder=>'Airfield Departure'
    = f.text_field  :airfield_arrive, :placeholder=>'Airfield Arrival'
    = f.text_field  :voyage_date, :placeholder=>'Voyage Date'

    = f.label         :zeppelins
    = f.select        :zeppelin_id, options_for_select(Zeppelin.all.map {|zep| ["#{zep.name} -- #{zep.style} -- #{zep.total_seats} seats available", zep.id] })

    = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
    = f.submit

