%h3.white Select a seat, my good man:

.row.white

  - if flash[:message].present?
    .large-8.columns.alert-box.alert
      = flash[:message]
    .large-4.columns

  .large-6.columns
    #zeppelin_top
    #seatchart
      #gondola
        .seat_row
          - @voyage.zeppelin.seats.each do |seat|
            .seat_column{:'data-row' => "#{seat.row}", :'data-column' => "#{seat.column}", :'data-id' =>"#{seat.id}",:'data-user-occupied' => "#{seat.in?(@auth.seats) ? true : false}", :'data-occupied' => "#{seat.in?(@voyage.seats) ? true : false}", :'data-occupied-name' => "#{seat.bookings.where(:voyage_id => @voyage.id).first.present? ? seat.bookings.where(:voyage_id => @voyage.id).first.traveler.name : 'Open' }"}
              .seat_numbers
                = "#{seat.row} - #{seat.column}"
                / - if seat.bookings.where(:voyage_id => @voyage.id).first.present?
                /   = "#{seat.bookings.where(:voyage_id => @voyage.id).first.traveler.name}"
                / - else
                /   = "Open"
    #zeppelin_bottom
      .clear
  .large-6.columns

.row
  .large-12.large-centered.columns
    = form_tag bookings_path, :remote => true do
      = hidden_field_tag :traveler_id, @auth.id
      = hidden_field_tag :voyage_id, @voyage.id
      = hidden_field_tag :seat_id
      #purchase_line
      = submit_tag 'Purchase Seat', :class => 'button large'

