.show_voyages
  %h2 Voyages
  %table
    %tr
      %td Code
      %td Airfield Depart
      %td Airfield Arrive
      %td Date
      %td Zeppelin
      - Voyage.all.count.times do |i|
        - voyage = Voyage.all[i]
        %tr
          %td= link_to voyage.code, voyage
          %td= voyage.airfield_depart
          %td= voyage.airfield_arrive
          %td= voyage.voyage_date
          %td= voyage.zeppelin.style
          %td
            %div{:id=>"map_canvas_#{i}", :class=>'map_canvas'}
            %script
              = "display_map(#{ (voyage.arrive_lat+voyage.depart_lat) / 2},#{ (voyage.arrive_long + voyage.depart_long) / 2 }, 1, $(\'#map_canvas_#{i}\') );"
              = "add_marker(#{voyage.depart_lat},#{voyage.depart_long},\'#{voyage.airfield_depart}\',$('#map_canvas_#{i}')[0]);"
              = "add_marker(#{voyage.arrive_lat},#{voyage.arrive_long},\'#{voyage.airfield_arrive}\',$('#map_canvas_#{i}')[0]);"
              = "add_path(#{voyage.depart_lat},#{voyage.depart_long}, #{voyage.arrive_lat},#{voyage.arrive_long}, $('#map_canvas_#{i}')[0]);"

