/this pushes content 60px away from the topbar -ron
.row
  .large-12.large-centered.spacer

.row.bg
  .large-6.columns
    #chart
      = render :partial => 'seatchart'
  .large-6.columns
    %h3.white
      Voyage Information

    %h5
      = @voyage.zeppelin.name
      %br
      .white From:
      = @voyage.airfield_depart
      %br
      .white To:
      = @voyage.airfield_arrive
      %br
      = image_tag(@voyage.zeppelin.image)
      .white= @voyage.zeppelin.description
      %ul
        %li.white
          Engine type:
          = @voyage.zeppelin.engines
        %li.white
          Year built:
          = @voyage.zeppelin.year_built