.row
  .large-6.columns.bg
    %h2.white New Zeppelin
    = form_for @zeppelin, :remote => true do |f|
      = f.text_field :name, :autofocus => true, :placeholder => 'Zeppelin Name'
      = f.text_field :style, :placeholder => 'Zeppelin class'
      = f.number_field :number_of_rows, :placeholder => 'Number of rows'
      = f.number_field :number_of_columns, :placeholder => 'Number of columns'
      = link_to('DEFLATE', '#', :'data-clear-form' => true, :class => 'button alert round small')
      = f.submit 'LAUNCH', :class => 'button small round'
  .large-6.columns
.row
  .large-12.large-centered.spacer
